@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Control Escolar</h1>
    <p><strong>Curso:</strong> Desarrollo web con .Net</p>
    <p><i>Talento tech GTO</i></p>

    <img src="~/net.png">
</div>
